.theos/
packages/
.DS_Store
*.xcscmblueprint
*.xccheckout
*.xcarchive
xcuserdata
Resources/Frameworks/OpenSSL.framework
apps_nightly.json
.vscode/
package/
build/
LiveContainerSwiftUI/test.swift
upload.sh
change_ver.sh
